frequency: 50

# Specify planar environment
two_d_mode: true

map_frame: map
odom_frame: odom
base_link_frame: base_link
world_frame: map

# publish transform: world_frame --> odom_frame
publish_tf: true

transform_time_offset: 0.05

# See /diagnostics topic for debug
print_diagnostics: true

## Odometry Sensor(s) ##
odom0: odometry/gps
odom0_config: [true , true , false, # Only uses x, y position 
               false, false, false,
               false, false, false,
               false, false, false,
               false, false, false]
odom0_queue_size: 10
odom0_differential: false 
odom0_relative: false

# odom1: odometry/local
# odom1_config: [true , true , true ,
#                true , true , true ,
#                true , true , true , # Z vel is true now cause we have a Z true in odom_local (zed/zed_node)
#                true , true , true ,
#                false, false, false] # Acceleration can be on/off, testing
# odom1_queue_size: 10
# odom1_differential: true
# odom1_relative: false

## IMU Sensor(s) ## 

imu0: imu/data 
imu0_config: [false, false, false, 
              false, true , true ,
              false, false, false,
              false, true , true ,
              true , true , false] # Acceleration can be on/off

imu0_queue_size: 10
imu0_differential: false
imu0_relative: true
imu0_remove_gravitational_acceleration: true

# pose0: /orbslam/pose # For when we set up. Interfaces with orbslam 
# pose0_config: [true , true , true ,
#                false , false , true ,
#                false , false , false ,
#                false , false , false ,
#                false, false, false]
# pose0_queue_size: 10
# pose0_differential: true
# pose0_relative: false