<?xml version="1.0"?>
<robot name="caffeine_constants" xmlns:xacro="http://ros.org/wiki/xacro">
    <!-- Chassis --> 
    <xacro:property name="chassis_to_base_link_dist" value="0.501747"/>
    <xacro:property name="chassis_to_stand_link_dist" value="0.713459"/>

    <xacro:property name="chassis_link_mass" value="33.9"/>

    <!-- Casters -->
    <xacro:property name="caster_link_mass" value="0.5"/>
    
    <xacro:property name="casters_separation" value="1.12"/>
    <xacro:property name="caster_vertical_offset" value="-0.619167561"/>

    <xacro:property name="caster_wheel_mass" value="0.7"/>

    <xacro:property name="caster_link_to_wheel_dist_x" value="0.03621719"/>
    <xacro:property name="caster_link_to_wheel_dist_z" value="-0.04361749"/>

    <!-- Wheels -->
    <xacro:property name="wheel_vertical_offset" value="-0.61759696"/>
    
    <xacro:property name="wheels_separation" value="0.875"/>
    <xacro:property name="wheel_diameter" value="0.25"/> <!-- TODO: update this value -->
    
    <xacro:property name="wheel_mass" value="4.45"/>

    <!-- Gazebo Motor -->
    <xacro:property name="diff_drive_update_rate" value="30.0"/>
</robot>
