<?xml version="1.0"?>
<robot name="caffeine_inertias" xmlns:xacro="http://ros.org/wiki/xacro">
    <!-- Chassis --> 
    <xacro:macro name="chassis_link_inertia">
        <inertia
            ixx="10.9364" ixy="0.0000" ixz="0.0000"
            iyx="0.0000" iyy="10.9070" iyz="0.0000"
            izx="0.0000" izy="0.0000" izz="2.3961"
        />
    </xacro:macro> 

    <!-- Wheels -->
    <xacro:macro name="side_wheel_inertia">
        <inertia
            ixx="0.0231" ixy="0.0000" ixz="0.0000"
            iyx="0.0000" iyy="0.0374" iyz="0.0000"
            izx="0.0000" izy="0.0000" izz="0.0231"
        />
    </xacro:macro>

    <!-- Box Inertia -->
    <xacro:macro name="box_inertia" params="mass length width height">
        <inertia
            ixx="${mass * (height*height + length*length)/12.0}" ixy="0.0" ixz="0.0" 
            iyx="0.0" iyy="${mass * (width*width + length*length)/12.0}" iyz="0.0" 
            izx="0.0" izy="0.0" izz="${mass * (width*width + height*height)/12.0}"
        /> 
    </xacro:macro>
    
    <!-- Cynlinder Inertia -->
    <xacro:macro name="cylinder_inertia" params="mass length radius">
        <inertia
            ixx="${mass * (3*radius*radius + length*length)/12.0}" ixy="0.0" ixz="0.0" 
            iyx="0.0" iyy="${mass * (3*radius*radius + length*length)/12.0}" iyz="0.0"
            izx="0.0" izy="0.0" izz="${0.5*mass*radius*radius}"
        />
    </xacro:macro>

     <!-- Sphere Inertia -->
     <xacro:macro name="sphere_inertia" params="mass radius">
         <inertia
             ixx="${(2.0 * mass * radius * radius) / 5.0}" ixy="0.0" ixz="0.0" 
             iyx="0.0" iyy="${(2.0 * mass * radius * radius) / 5.0}" iyz="0.0" 
             izx="0.0" izy="0.0" izz="${(2.0 * mass * radius * radius) / 5.0}" 
         />
     </xacro:macro>

</robot>

