<launch>

    <arg name="launch_state" default="sim"/>
    
    <!-- Runs lane detection server -->
    <node
        name="lane_detection_model_inference"
        pkg="lane_detection"
        type="lane_detection_model_inference.py"
        output="screen"
    >
        <remap from="image" to="/zed/zed_node/rgb/image_rect_color" unless="$(eval launch_state == 'sim')"/>
        <remap from="image" to="/zed/zed_node/left/image_rect_color" if="$(eval launch_state == 'sim')"/>
    </node>

</launch>
