<launch>

    <arg name="launch_state" default="sim"/>
    
    <!-- Runs lane detection server -->
    <node
        name="lane_detection_inference"
        pkg="lane_detection"
        type="lane_detection_inference.py"
        output="screen"
    >
        <remap from="image" to="/zed/zed_node/rgb/image_rect_color" unless="$(eval launch_state == 'sim')"/>
        <remap from="image" to="/zed/zed_node/left/image_rect_color" if="$(eval launch_state == 'sim')"/>

        <rosparam command="load" file="$(find lane_detection)/config/lane_detection_params.yaml"/>
    </node>

    <node
        name="lane_scan_conversion"
        pkg="lane_detection"
        type="lane_scan_conversion.py"
        output="screen"
    >
    </node>

    
    <node
        name="lane_viz"
        pkg="lane_detection"
        type="lane_viz.py"
        output="screen"
    >
    </node>

</launch>
