<launch>
    <arg name="launch_state" default="sim"/>
    <include file="$(find urg_node)/launch/urg_lidar.launch"/>
    <!-- <include file="$(find phidgets_imu)/launch/imu.launch"/>
    <include file="$(find nmea_navsat_driver)/launch/nmea_serial_driver.launch">
        <arg name="launch_state" value="$(arg launch_state)"/> -->
    <!-- </include> -->
    
    <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
        <remap from="scan" to="scan_upper"/>
    <param name="serial_port"         type="string" value="/dev/ttyUSB0"/>
    <param name="serial_baudrate"     type="int"    value="115200"/><!--A1/A2 -->
    <param name="frame_id"            type="string" value="laser"/>
    <param name="inverted"            type="bool"   value="false"/>
    <param name="angle_compensate"    type="bool"   value="true"/>
    </node>

    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rplidar_ros)/rviz/rplidar.rviz" /> -->

</launch>