<launch>
    <arg name="launch_state" default="sim"/>
    <include file="$(find phidgets_imu)/launch/imu.launch"/>

    <node name="urg_node" pkg="urg_node" type="urg_node" output="screen">
    <param name="ip_address" value=""/>
    <param name="serial_port" type= "string" value="/dev/urglidar"/>
    <param name="serial_baud" value="115200"/>
    <param name="frame_id" value="base_laser"/>
    <param name="calibrate_time" value="true"/>
    <param name="publish_intensity" value="false"/>
    <param name="publish_multiecho" value="false"/>
    <param name="angle_min" value="-1.5707963"/>
    <param name="angle_max" value="1.5707963"/>
  </node>
    
    <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
        <remap from="scan" to="scan_upper"/>
    <param name="serial_port" type="string" value="/dev/rplidar"/>
    <param name="serial_baudrate"     type="int"    value="115200"/><!--A1/A2-->
    <param name="frame_id"            type="string" value="laser"/>
    <param name="inverted"            type="bool"   value="false"/>
    <param name="angle_compensate"    type="bool"   value="true"/>
    </node>

    <arg name="gps_port" default="/dev/gps_port"/>
    <arg name="baud" default="4800"/>
    <arg name="gps_frame_id" default="gps_link"/>
    <arg name="use_GNSS_time" default="False" />
    <arg name="time_ref_source" default="gps" />
    <arg name="useRMC" default="False" />

    <node name="nmea_serial_driver_node" pkg="nmea_navsat_driver" type="nmea_serial_driver" output="screen">
        <param name="port" type="string" value="$(arg gps_port)"/>
        <param name="baud" value="$(arg baud)" />
        <param name="gps_frame_id" value="$(arg gps_frame_id)" />
        <param name="use_GNSS_time" value="$(arg use_GNSS_time)" />
        <param name="time_ref_source" value="$(arg time_ref_source)" />
        <param name="useRMC" value="$(arg useRMC)" />

        <remap from="/fix" to="/gps/fix" />
        <remap from="/vel" to="/gps/fix_velocity" />
    </node>

</launch>
