# Navigation Function (navigation path)
NavfnROS:
  # Specifies whether or not to allow navfn to create plans that traverse unknown space.
  allow_unknown: true
  # A tolerance on the goal point for the planner.
  default_tolerance: 0.1

# Plans robot movement
TrajectoryPlannerROS:
  max_vel_x: 2.0
  min_vel_x: 0.2
  max_vel_theta: 1.0
  min_in_place_vel_theta: 0.4

  acc_lim_theta: 3.2
  acc_lim_x: 2.5
  acc_lim_y: 2.5

  # Caffeine is not Holonomic
  holonomic_robot: false

  # Sets distances in cost function to meters instead of cells (allows different map resolutions)
  meter_scoring: true
