max_obstacle_height: 3.3 # Can be a large number, currently matched to the obstacle range
#footprint: [[-0.734, -0.582], [-0.734, 0.582], [0.734, 0.582], [0.734, -0.582]]
footprint: [[-0.7, -0.508], [-0.7, 0.508], [0.7, 0.508], [0.7, -0.508]]
#footprint: [[-0.6, -0.40], [-0.6, 0.40], [0.6, 0.40], [0.6, -0.40]]

# NOTE: Caffeine is generally parallel to the ground with 3-wheel drive + battery HACK
observation_sources: laser_scan_sensor
