max_obstacle_height: 3.0

footprint: [[-0.734, -0.582], [-0.734, 0.582], [0.734, 0.582], [0.734, -0.582]]
inflation_radius: 0.4

observation_sources: laser_scan_sensor point_cloud_sensor

laser_scan_sensor: {
  min_obstacle_height: 0.05,
  sensor_frame: caffeine/base_laser, 
  data_type: LaserScan, 
  topic: caffeine/scan, 
  marking: true, 
  clearing: true,
  obstacle_range: 1.3,
  raytrace_range: 1.5
}

# NOTE: due to the incline of Caffeine (uneven front/back casters),
#       the point clouds are not parallel with the ground! Hence
#       everything is detected as an obstacle. Moreover, the stereo
#       cam should be angled downwards, to have an overlapping FOV
#       with the lidar!

point_cloud_sensor: {
  min_obstacle_height: 0.2,
  sensor_frame: caffeine/zed_camera_link, 
  data_type: PointCloud2, 
  topic: zed/zed_node/point_cloud/cloud_registered, 
  marking: true, 
  clearing: true,
  obstacle_range: 15.0,  # 15.0,
  raytrace_range: 16.0   # 16.0
}
