max_obstacle_height: 3.3 # Can be a large number, currently matched to the obstacle range
footprint: [[-0.734, -0.582], [-0.734, 0.582], [0.734, 0.582], [0.734, -0.582]]

# NOTE: Caffeine is generally parallel to the ground with 3-wheel drive + battery HACK