max_obstacle_height: 3.3 # Can be a large number, currently matched to the obstacle range
footprint: [[-0.734, -0.582], [-0.734, 0.582], [0.734, 0.582], [0.734, -0.582]]
inflation_radius: 0.4

obstacles:
    observation_sources: laser_scan_sensor point_cloud_sensor

    laser_scan_sensor: {
      min_obstacle_height: -0.125, # half wheel diameter
      sensor_frame: base_laser, 
      data_type: LaserScan, 
      topic: scan, 
      marking: true, 
      clearing: true,
      obstacle_range: 3.7,   # Decide how far we should see obstacles, should be less than raytrace range
      raytrace_range: 4      # max lidar is rated for is 4m
    }

    point_cloud_sensor: {
      min_obstacle_height: -0.05, 
      sensor_frame: zed_camera_link, 
      data_type: PointCloud2, 
      topic: zed/zed_node/point_cloud/cloud_registered, 

      marking: true, 
      clearing: true, 
      obstacle_range: 15.0,
      raytrace_range: 16.0
    }

    # plugins:
    #    - {name: obstacle_layer, type: "costmap_2d::ObstacleLayer", output: "screen"}
        # - {name: simple_layer, type: "simple_layer_namespace::SimpleLayer", output: "screen"}
        #    - {name: grid_layer, type: "simple_layer_namespace::GridLayer", output: "screen"}
        # - {name: inflation_layer, type: "costmap_2d::InflationLayer", output: "screen"}
