global_costmap:
  global_frame: odom   # Because we don't have a map to load in, we use the odom frame as our global frame (rather than /map)
  robot_base_frame: base_link
  update_frequency: 5.0 # Set update rate lower for large maps; 20
  publish_frequency: 2.0
  rolling_window: true  # Set this to true bc static map == false (this makes setting 2D nav goals in rviz work)
  static_map: false     # Not supplying a static map
  always_send_full_costmap: false
  resolution: 0.1

  # Full width and height of IGVC map
  # TODO: Update size if needed
  width: 100
  height: 100


  # Parameters are the same as local cost map, but is kept separate for future adjustments of the global cost map
  obstacle_layer:
    observation_sources: laser_scan_sensor
    enabled: true
    track_unknown_space: true

    laser_scan_sensor: {
      min_obstacle_height: -10.0, # In case odometry z-estimate goes too high/low,
      max_obstacle_height: 10.0,  # we still add lidar scans to costmap
      sensor_frame: base_laser,
      data_type: LaserScan,
      topic: scan,
      marking: true,
      clearing: true,
      obstacle_range: 3.7,   # Decide how far we should see obstacles, should be less than raytrace range
      raytrace_range: 4,     # max lidar is rated for is 4m
      inf_is_valid: true,
      expected_update_rate: 5
    }

    # point_cloud_sensor: {
    #   min_obstacle_height: -0.1,
    #   sensor_frame: zed_camera_link,
    #   data_type: PointCloud2,
    #   topic: zed/zed_node/point_cloud/cloud_registered,
    #   marking: true,
    #   clearing: true, # true
    #   obstacle_range: 15.0,
    #   raytrace_range: 16.0
    # }

  inflation_layer:
    enabled:              true
    inflation_radius:     0.65  # Tunable parameter (affect navigation plan)

  plugins:
    - {name: obstacle_layer,      type: "costmap_2d::ObstacleLayer"}
    - {name: virtual_layer_global,       type: "virtual_layers_global::VirtualLayer_Global"}
    - {name: inflation_layer,     type: "costmap_2d::InflationLayer"}
