local_costmap:
  global_frame: odom
  robot_base_frame: base_link
  update_frequency: 5.0
  publish_frequency: 2.0
  static_map: false
  rolling_window: true
  width: 8.0
  height: 8.0
  resolution: 0.05
  
  plugins:
     - {name: obstacles, type: "costmap_2d::VoxelLayer", output: "screen"}
     - {name: simple_layer, type: "simple_layer_namespace::SimpleLayer", output: "screen"}
    # - {name: grid_layer, type: "simple_layer_namespace::GridLayer", output: "screen"}
     - {name: inflation_layer, type: "costmap_2d::InflationLayer", output: "screen"}

