<launch>
   <arg name="robot" default="caffeine"/>

    <!-- Compute local odometry: publish odom frame -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_local" clear_params="true" output="screen">
        <remap from="odometry/filtered" to="$(arg robot)/odometry/local"/>
        
        <rosparam command="load" file="$(find odom)/config/odom_local.yaml"/>
    </node>

    <!-- Compute global odometry: publish map frame -->
    <!-- <node pkg="robot_localization" type="ekf_localization_node" name="ekf_global" clear_params="true" output="screen">
        <remap from="odometry/filtered" to="$(arg robot)/odometry/global"/>

        <rosparam command="load" file="$(find odom)/config/odom_global.yaml"/>
    </node> -->

    <!-- Establish transform b/w Earth reference and Robot reference -->
    <!-- <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" respawn="true" ns="$(arg robot)">
        <remap from="odometry/filtered" to="odometry/global"/>

        <rosparam command="load" file="$(find odom)/config/navsat.yaml"/>
    </node> -->

</launch>


