<launch>
    <!-- launch twist mux -->
    <include file="$(find twist_mux)/launch/twist_mux.launch"/>

    <!-- launch teleop keyboard -->
    <include file="$(find teleop_twist_keyboard)/launch/keyboard_teleop.launch"/>

    <!-- launch motor control -->
    <include file="$(find motor_control)/launch/motor_control.launch"/>

</launch>