<launch>

  <!-- Elevation mapping node -->
  <node pkg="elevation_mapping" type="elevation_mapping" name="elevation_mapping" output="screen">
    <rosparam command="load" file="$(find caffeine_elevation_map)/config/caff_elevation.yaml" />
    <rosparam command="load" file="$(find caffeine_elevation_map)/config/caff_elevation_map.yaml" />
    <rosparam command="load" file="$(find caffeine_elevation_map)/config/caff_kinect_nguyen_et_al.yaml" />
    <rosparam command="load" file="$(find caffeine_elevation_map)/config/caff_postprocessor_pipeline.yaml" />
  </node>

  
  <!-- Launch visualizations for the resulting elevation map -->
  <!--
  <include file="$(find elevation_mapping_demos)/launch/visualization.launch" />
  -->

  <!-- Launch RViz with the demo configuration -->
  <!--
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find elevation_mapping_demos)/rviz/elevation_map_visualization.rviz" />
  -->
  
</launch>
