<launch>
   <arg name="use_gui" default="false"/>
   <arg name="debug_mode" default="false"/>
   <arg name="world" default="full"/>

   <!-- IGVC worlds -->
   <arg name="world_file" value="$(find worlds)/gazebo_worlds/igvc_plain.world"  if="$(eval arg('world') == 'plain')"/>
   <arg name="world_file" value="$(find worlds)/gazebo_worlds/igvc_ramp.world"   if="$(eval arg('world') == 'ramp')"/>
   <arg name="world_file" value="$(find worlds)/gazebo_worlds/igvc_walls.world"  if="$(eval arg('world') == 'walls')"/>
   <arg name="world_file" value="$(find worlds)/gazebo_worlds/igvc_full.world"   if="$(eval arg('world') == 'full')"/>

   <!-- Spawn at course start -->
   
   <arg name="x"     value="0"/>
   <arg name="y"     value="-21.5"/>
   <arg name="z"     value="0.25"/>
   <arg name="roll"  value="0"/>
   <arg name="pitch" value="0"/>
   <arg name="yaw"   value="3.14"/>

   <!-- <arg name="x"     value="0"/>
   <arg name="y"     value="0"/>
   <arg name="z"     value="0"/>
   <arg name="roll"  value="0"/>
   <arg name="pitch" value="0"/>
   <arg name="yaw"   value="3.14"/> -->

   <!-- Open a world in Gazebo -->
   <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(arg world_file)"/>
      
      <arg name="paused" value="false"/>
      <arg name="verbose" value="false"/>
      <arg name="use_sim_time" value="true"/>

      <arg name="gui" value="$(arg use_gui)"/>
      <arg name="gui_required" value="$(arg use_gui)"/>

      <arg name="debug" value="$(arg debug_mode)"/>
      <arg name="server_required" value="$(arg debug_mode)"/>
   </include>

   <!-- Parse URDF with xacro -->
   <param name="robot_description" command="xacro '$(find description)/urdf/caffeine.urdf.xacro'"/>

   <!-- Spawn Caffeine in Gazebo -->
   <node name="spawn_caffeine" pkg="gazebo_ros" type="spawn_model"
      args="-param robot_description
            -urdf -model caffeine
            -x $(arg x) -y $(arg y) -z $(arg z)
            -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)" />

   <!-- Set up TF Tree -->
   <include file="$(find description)/launch/setup_tf_tree.launch">
      <arg name="robot" value="caffeine"/>
   </include>

   <!-- Emulate ZED stereo camera image processing -->
   <include file="$(find description)/launch/zed_emulation.launch">
      <arg name="camera_ns" value="zed/zed_node"/>
   </include>

   <!-- Run Twist Multiplexer -->
   <include file="$(find twist_mux)/launch/twist_mux.launch" ns="caffeine">
      <arg name="cmd_vel_out" value="cmd_vel"/>
   </include>
   
   <!-- Compute Odometry from Sensor Fusion -->
   <include file="$(find odom)/launch/odom.launch">
      <arg name="robot" value="caffeine"/>
   </include>

</launch>
