<launch>
    <arg name="robot" default="caffeine"/>

    <group ns="$(arg robot)">
        <!-- Parse URDF with xacro -->
        <param name="robot_description" command="xacro '$(find description)/urdf/$(arg robot).urdf.xacro'"/>

        <!-- Set up TF Tree -->
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    </group>
</launch>
