<launch>

    <arg name="camera_ns" default="zed/zed_node"/>

    <group ns="$(arg camera_ns)">
        <!-- Image Rectification + Stereo Processing -->
        <node pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc"/>

        <!-- Disparity to depth -->
        <node pkg="nodelet" type="nodelet" name="disparity2depth" args="standalone rtabmap_ros/disparity_to_depth"/>
    
        <!-- Visual Odometry using rtabmap_ros's stereo_odometry wrapper -->
        <node pkg="rtabmap_ros" type="stereo_odometry" name="stereo_odometry" ns="$(arg camera_ns)">
            <remap from="left/image_rect"       to="left/image_rect"/>
            <remap from="right/image_rect"      to="right/image_rect"/>
            <remap from="left/camera_info"      to="left/camera_info"/>
            <remap from="right/camera_info"     to="right/camera_info"/>

            <param name="frame_id"      type="string" value="caffeine/base_link"/>
            <param name="odom_frame_id" value="caffeine/odom"/>
            <param name="approx_sync"   value="false"/>
            <param name="queue_size"    value="5"/>
            <param name="publish_tf"    value="false"/>
        </node>

    </group>

</launch>
