<launch>

    <arg name="launch_state" default="sim"/> 

    <!-- Spawn at course start -->
    <arg name="world_type" default="grass"/>
    
    <arg name="x" default="0" unless="$(eval arg('world_type') =='pavement')"/>
    <arg name="y" default="-21.5" unless="$(eval arg('world_type') =='pavement')"/>
    <arg name="z" default="0.28" unless="$(eval arg('world_type') =='pavement')"/>
    <arg name="roll" default="0" unless="$(eval arg('world_type') =='pavement')"/>
    <arg name="pitch" default="0" unless="$(eval arg('world_type') =='pavement')"/>
    <arg name="yaw" default="3.14" unless="$(eval arg('world_type') =='pavement')"/>

    <!-- <arg name="x" value="-19.5" if="$(eval arg('world_type') =='pavement')" />
    <arg name="y" value="0" if="$(eval arg('world_type') =='pavement')" />
    <arg name="z" value="0.241" if="$(eval arg('world_type') =='pavement')" />
    <arg name="roll" value="0" if="$(eval arg('world_type') =='pavement')" />
    <arg name="pitch" value="0" if="$(eval arg('world_type') =='pavement')" />
    <arg name="yaw" value="1.57" if="$(eval arg('world_type') =='pavement')" />  -->

    <!-- Spawn at Second waypoint -->

    <!-- <arg name="x" value="18.25" if="$(eval arg('world_type') =='pavement')" />
    <arg name="y" value="18.00" if="$(eval arg('world_type') =='pavement')" />
    <arg name="z" value="0.24" if="$(eval arg('world_type') =='pavement')" />
    <arg name="roll" value="0.000015" if="$(eval arg('world_type') =='pavement')" />
    <arg name="pitch" value="-0.0076" if="$(eval arg('world_type') =='pavement')" />
    <arg name="yaw" value="0" if="$(eval arg('world_type') =='pavement')" /> -->

    <!-- spawn at a ramp or some shit -->

    <!-- <arg name="x" value="17" if="$(eval arg('world_type') =='pavement')" />
    <arg name="y" value="7" if="$(eval arg('world_type') =='pavement')" />
    <arg name="z" value="0.26" if="$(eval arg('world_type') =='pavement')" />
    <arg name="roll" value="0.000015" if="$(eval arg('world_type') =='pavement')" />
    <arg name="pitch" value="-0.0076" if="$(eval arg('world_type') =='pavement')" />
    <arg name="yaw" value="-1.57" if="$(eval arg('world_type') =='pavement')" /> -->
    

    <!-- Parse URDF with xacro -->
    <param name="robot_description" command="xacro '$(find description)/urdf/caffeine.urdf.xacro'"/>

    <!-- Spawn Caffeine in Gazebo -->
    <node name="spawn_caffeine" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description
            -urdf -model caffeine
            -x $(arg x) -y $(arg y) -z $(arg z)
            -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)" />
    
    <!-- Set up TF Tree -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="rate" value="50"/>
    </node>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <!-- Twist Multiplexer -->
    <include file="$(find twist_mux)/launch/twist_mux.launch">
        <arg name="cmd_vel_out" value="cmd_vel"/>
    </include>

    <!-- Emulate ZED stereo camera image processing -->
    <include file="$(find description)/launch/zed_emulation.launch">
        <arg name="camera_ns" value="zed/zed_node"/>
    </include>

    <!-- Compute Odometry from Sensor Fusion -->
    <include file="$(find odom)/launch/odom.launch">
        <arg name="launch_state" value="sim"/>
    </include>

    <!-- Record topics using Rosbag -->
    <include file="$(find description)/launch/setup_rosbag.launch"
        if="false">
        <arg name="output_folder" default="$(find description)/caffeine_bag/caffeine_bag" />
    </include>

</launch>
