<launch>
    <!-- Launch zed camera -->
    <include file="$(find zed_wrapper)/launch/zed_no_tf.launch"/>

    <!-- Launch server for ZED data. Uploads rectified image to UDP server -->
    <node
        name="zed_wrapper_server"
        pkg="cv"
        type="zed_wrapper_server.py"
        output="screen"
    >
        <remap from="image" to="/zed_node/rgb/image_rect_color"/>
    </node>


    <!-- <node
        name="zed_output_data"
        pkg="cv"
        type="zed_output_data.py"
        output="screen"
    >
        <remap from="image" to="/zed_node/rgb/image_rect_color"/>
    </node> -->

    <!-- Launch lane detection pipeline -->
    <include file="$(find lane_detection)/launch/lane_detection_server.launch"/>

    <!-- Launch pothole detection pipeline -->
    <include file="$(find pothole_detection)/launch/pothole_detection_server.launch"/>

</launch>
