<launch>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <remap from="odom" to="odometry/local"/>
        <remap from="cmd_vel" to="nav_vel"/>

        <!-- Load common parameters for both the global and local costmaps -->
        <rosparam file="$(find nav_stack)/config/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
        <rosparam file="$(find nav_stack)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />

        <!-- Load costmap (global/local) specific parameters -->
        <rosparam file="$(find nav_stack)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find nav_stack)/config/global_costmap_params.yaml" command="load" />

        <!-- Load navigation parameters -->
        <rosparam file="$(find nav_stack)/config/base_local_planner_params.yaml" command="load" />

        <!-- Global Planner -->
        <param name="base_global_planner" value="navfn/NavfnROS"/>
    </node>

    <!-- Alternative to launch
    <node name="filter_lidar_data" pkg="filter_lidar_data" type="ignore_lidar_node" output="screen">
        <param name="second_waypoint_latitude" value="43.6571667"/>
        <param name="second_waypoint_longitude" value="-79.3903788"/>
        <param name="third_waypoint_latitude" value="43.6571678"/>
        <param name="third_waypoint_longitude" value="-79.3902588"/>
    </node>
    --> 

    <!-- Launch filtered lidar data topic used for costmap-->
    <include file="$(find filter_lidar_data)/launch/filter_lidar_data.launch"> </include>

    <!-- TODO: always have a manual override available when doing autonomous navigation -->

</launch>
