<launch>

    <arg name="launch_state" default="sim"/>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <remap from="cmd_vel" to="nav_vel"/>
        <!-- <remap from="odom" to="odometry/local"/> -->

        <!-- Load common parameters for both the global and local costmaps -->
        <rosparam file="$(find nav_stack)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find nav_stack)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />

        <!-- Load costmap (global/local) specific parameters -->
        <rosparam file="$(find nav_stack)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find nav_stack)/config/global_costmap_params.yaml" command="load" />

        <!-- Load navigation parameters-->
        <rosparam file="$(find nav_stack)/config/local_global_planner.yaml" command="load" />
        
        <!-- Local Planner (Default) -->
        <!-- Use DWAPlannerROS package for local planning -->
        <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>

        <!-- Use TrajectoryPlannerROS package for local planning by commenting out other local planners -->

        <!-- Global Planner -->

        <!-- Use Global Planner package for global planning (Default)-->
        <param name="base_global_planner" value="global_planner/GlobalPlanner"/>

        <!-- Use NavfnROS package for global planning (Backup) -->
        <!-- <param name="base_global_planner" value="navfn/NavfnROS"/> -->        
    </node>

    <!-- TODO: always have a manual override available when doing autonomous navigation -->

</launch>
