<?xml version="1.0"?>
<robot name="plugins" xmlns:xacro="http://ros.org/wiki/xacro">
    
    <!-- Constants -->
    <xacro:include filename="$(find description)/urdf/constants.xacro"/>

    <!-- differential drive control support -->
    <gazebo>
        <plugin name="caffeine_drive_controller" filename="libgazebo_ros_diff_drive.so">
            <updateRate>${diff_drive_update_rate}</updateRate>
            <leftJoint>${wheel_left_joint}</leftJoint>
            <rightJoint>${wheel_right_joint}</rightJoint>
            <wheelSeparation>${wheels_separation}</wheelSeparation>
            <wheelDiameter>${wheel_diameter}</wheelDiameter>
            <wheelAcceleration>${wheel_acceleration}</wheelAcceleration>
            <wheelTorque>${wheel_torque}</wheelTorque>
            <commandTopic>${diff_drive_commandTopic}</commandTopic>
            <odometryTopic>${diff_drive_odometryTopic}</odometryTopic>
            <odometryFrame>${diff_drive_odometryFrame}</odometryFrame>
            <robotBaseFrame>${diff_drive_robotBaseFrame}</robotBaseFrame>
            <odometrySource>${diff_drive_odometrySource}</odometrySource>
            <publishWheelTF>${diff_drive_publishWheelTF}</publishWheelTF>
            <publishOdomTF>${diff_drive_publishOdomTF}</publishOdomTF>
            <publishTf>${diff_drive_publishTf}</publishTf>
            <publishWheelJointState>${diff_drive_publishWheelJointState}</publishWheelJointState>
            <legacyMode>${diff_drive_legacymode}</legacyMode>
            <rosDebugLevel>${diff_drive_rosDebugLevel}</rosDebugLevel>
        </plugin>
    </gazebo>
    
    <!-- lets all the transmission tags be read -->
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so"/>
    </gazebo>

    <!-- LIDAR -->
    <gazebo reference="base_laser">
        <!-- make sure your sensor NAMES are unique :'( -->
        <sensor type="ray" name="hokuyo_sensor_1">
            <pose>0 0 0 0 0 0</pose>
            <visualize>${laser_visualize}</visualize>
            <update_rate>${laser_update_rate}</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>${laser_horizontal_samples}</samples>
                        <resolution>${laser_horizontal_resolution}</resolution>
                        <min_angle>${laser_horizontal_min_angle}</min_angle>
                        <max_angle>${laser_horizontal_max_angle}</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>${laser_range_min}</min>
                    <max>${laser_range_max}</max>
                    <resolution>${laser_range_resolution}</resolution>
                </range>
                <noise>
                    <type>${laser_noise_type}</type>
                    <!-- Noise based on gazebosim.org's tutorial on writing gazebo plugins w/ ROS. The comment they put will be reproduced:
                        Noise parameters based on published spec for Hokuyo laser achieving "+-10mm" accuracy at range < 10 m. A mean of 
                        0.0m and stddev of (0.01/3), will put 99.8% of samples within 0.03m of the true reading. -->
                    <mean>${laser_noise_mean}</mean>
                    <stddev>${laser_noise_stddev}</stddev>
                </noise>
            </ray>
            <plugin name="gazebo_ros_hokuyo_controller" filename="libgazebo_ros_laser.so">
                <topicName>${laser_topicName}</topicName>
                <frameName>${laser_frameName}</frameName>
            </plugin>
        </sensor>
    </gazebo>

    <!-- Another LIDAR for testing-->
    <gazebo reference="upper_laser">
        <!-- make sure your sensor NAMES are unique :'( -->
        <sensor type="ray" name="hokuyo_sensor_2">
            <pose>0 0 0 0 0 0</pose>
            <visualize>${upper_laser_visualize}</visualize>
            <update_rate>${upper_laser_update_rate}</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>${upper_laser_horizontal_samples}</samples>
                        <resolution>${upper_laser_horizontal_resolution}</resolution>
                        <min_angle>${upper_laser_horizontal_min_angle}</min_angle>
                        <max_angle>${upper_laser_horizontal_max_angle}</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>${upper_laser_range_min}</min>
                    <max>${upper_laser_range_max}</max>
                    <resolution>${upper_laser_range_resolution}</resolution>
                </range>
                <noise>
                    <type>${upper_laser_noise_type}</type>
                    <!-- Noise based on gazebosim.org's tutorial on writing gazebo plugins w/ ROS. The comment they put will be reproduced:
                        Noise parameters based on published spec for Hokuyo laser achieving "+-10mm" accuracy at range < 10 m. A mean of 
                        0.0m and stddev of (0.01/3), will put 99.8% of samples within 0.03m of the true reading. -->
                    <mean>${upper_laser_noise_mean}</mean>
                    <stddev>${upper_laser_noise_stddev}</stddev>
                </noise>
            </ray>
            <plugin name="gazebo_ros_hokuyo_controller" filename="libgazebo_ros_laser.so">
                <topicName>${upper_laser_topicName}</topicName>
                <frameName>${upper_laser_frameName}</frameName>
            </plugin>
        </sensor>
    </gazebo>

    <!-- GPS -->
    <gazebo>
        <plugin name="gps_controller" filename="libhector_gazebo_ros_gps.so">
            <updateRate>${gps_update_rate}</updateRate>
            <bodyName>${gps_frame}</bodyName>
            <frameId>${gps_frame}</frameId>

            <topicName>${gps_topic}</topicName>
            <velocityTopicName>${gps_vel_topic}</velocityTopicName>
            
            <referenceLatitude>${ref_lat}</referenceLatitude>
            <referenceLongitude>${ref_lon}</referenceLongitude>
            <referenceAltitude>${ref_alt}</referenceAltitude>

            <drift>${gps_drift}</drift> <!-- m -->
            <velocityDrift>${gps_vel_drift}</velocityDrift> <!-- m/s-->
            <!-- TODO: add Gaussian noise based off Garmin GPS -->
        </plugin>
    </gazebo>
    
    <!-- Gazebo multicamera plugin -->
    <gazebo reference="left_camera_link">
        <sensor type="multicamera" name="stereo_camera">
            <update_rate>${ZED_image_refresh}</update_rate>
            <camera name="left">
            <horizontal_fov>${ZED_image_hfov}</horizontal_fov>
            <image>
                <width>${ZED_image_width}</width>
                <height>${ZED_image_height}</height>
                <format>${ZED_image_format}</format>
            </image>
            <clip>
                <near>0.02</near>
                <far>300</far>
            </clip>
            </camera>
            <camera name="right">
            <pose>0 -${ZED_camera_length} 0 0 0 0</pose>
            <horizontal_fov>${ZED_image_hfov}</horizontal_fov>
            <image>
                <width>${ZED_image_width}</width>
                <height>${ZED_image_height}</height>
                <format>${ZED_image_format}</format>
            </image>
            <clip>
                <near>0.02</near>
                <far>300</far>
            </clip>
            </camera>
            <plugin name="stereo_camera_controller" filename="libgazebo_ros_multicamera.so">
                <cameraName>${ZED_name}</cameraName>
                <alwaysOn>${ZED_always_on}</alwaysOn>
                <updateRate>${ZED_update_rate}</updateRate>
                <imageTopicName>${ZED_image_topicName}</imageTopicName>
                <cameraInfoTopicName>${ZED_image_info_topicName}</cameraInfoTopicName>
                <depthImageTopicName>${ZED_depth_topicName}</depthImageTopicName>
                <depthImageInfoTopicName>${ZED_depth_info_topicName}</depthImageInfoTopicName>
                <pointCloudTopicName>${ZED_depth_points_topicName}</pointCloudTopicName>
                <frameName>${ZED_frameName}</frameName>
                <hackBaseline>${ZED_camera_length}</hackBaseline>
                <!-- TODO: Get distortion parameters from real camera -->
                <distortionK1>0.0</distortionK1>
                <distortionK2>0.0</distortionK2>
                <distortionK3>0.0</distortionK3>
                <distortionT1>0.0</distortionT1>
                <distortionT2>0.0</distortionT2>
            </plugin>
        </sensor>
    </gazebo>

    <!-- IMU -->
    <gazebo reference="imu_link">
        <material>Gazebo/Black</material>

        <gravity>true</gravity>
        <sensor name="imu_sensor" type="imu">
            <always_on>true</always_on>
            <update_rate>${imu_update_rate}</update_rate>
            <topic>__default_topic__</topic>
            <!-- TODO: add Drift based on Phidget IMU -->

            <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
                <topicName>${imu_topic}</topicName>
                <bodyName>${imu_frame}</bodyName>
                <frameName>${imu_frame}</frameName>
                <updateRateHZ>${imu_update_rate}</updateRateHZ>
                <gaussianNoise>0.0</gaussianNoise>  <!-- TODO: set Gaussian noise based on Phidget IMU -->
                <xyzOffset>0 0 0</xyzOffset>
                <rpyOffset>0 0 0</rpyOffset>
                <initialOrientationAsReference>false</initialOrientationAsReference>
            </plugin>
            
            <pose>0 0 0 0 0 0</pose>
        </sensor>
    </gazebo>

    <!-- Ground Truth Plugin-->
    <gazebo>
        <plugin name="p3d_base_controller" filename="libgazebo_ros_p3d.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>50.0</updateRate>
        <bodyName>base_link</bodyName>
        <topicName>ground_truth/state</topicName>
        <gaussianNoise>0.01</gaussianNoise>
        <frameName>world</frameName>
        <xyzOffsets>0 0 0</xyzOffsets>
        <rpyOffsets>0 0 0</rpyOffsets>
        </plugin>
    </gazebo>
    
</robot>

